body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    background-color: #2c3e50;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px;
  }
  
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 10px;
    margin-right: 30px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  .case-study {
    margin-left: 20px; /* Adjust the value as needed */
    margin-right: 20px; /* Adjust the value as needed */

  }

  .app-name {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.red-text {
    color: rgb(60, 185, 231); 
}
.cool-link {
  display: inline-block;
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.cool-link:hover {
  background-color: #0099FF;
  text-decoration: none;
}
.center-container {
  text-align: center;
  font-size: 20px; /* Adjust the font size as needed */

}
/* Add this to your existing CSS */
.top-image {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.top-image img {
  max-width: 100%;
  height: auto; /* This will maintain the original aspect ratio of the GIF */
  border-radius: 10px;
  /* Add any other styling you want */
}
